{% extends "AutoHub/home.html" %}

{% block title %} Index {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div>
    <h2 style="text-align:center">Room View</h2>
    <hr>
</div>
<div class="row">
    {% for data in room_data %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="bordered accent">
                <h3 id="{{ data.id }}tag" style="text-align:center">{{ data.tag }}</h3>
                <hr class="accent">
                <h5 id="{{ data.id }}description">{{ data.description }}</h5>
                <p>Temperature: <span id="{{ data.id }}temperature">{{ data.temperature }}</span></p>
                <p>Humidity: <span id="{{ data.id }}humidity">{{ data.humidity }}</span></p>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
<p>You must be signed in to view this page. Please click <a href="{% url 'login' %}">here</a> to sign in.</p>
{% endif %}
{% endblock %}

{% block script %}
<script>
    var dataSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/hub/data/');

    dataSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        console.log(data);
        var thing = document.getElementById(data['id']+data['parameter']);
        if (thing !== null) {
            thing.innerHTML = data['value'];
        };
    };

    dataSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
</script>
{% endblock %}
