<!DOCTYPE html>
<html lang="en">
<head>        
    <title>{% block title %}Base{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    {% load bootstrap4 %}
    {% block resources %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div style="position:relative">
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
</div>    
{% block script %}
{% endblock %}
</body>    
</html>    
