{% extends "AutoHub/base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
{% load static %}
<div class="page-header text-center">
    {% if user.is_authenticated %}
    <h1>{{ user.username|title }}'s Home Automation Hub.</h1>
    <p>Please select a page below to begin.</p>
    {% else %}
    <h1>Welcome to the Automation Hub.</h1>
    <p>Please log in to begin.</p>
    {% endif %}
</div>

<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <a href="{% url 'doors' %}">
        <img src="{% static 'images/doors.jpg' %}" alt="Nature" class="img-responsive img-thumbnail">
        <div class="text-block" style="position:absolute">
            <h2>Doors</h2>
        </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <a href="{% url 'lights' %}">
        <img src="{% static 'images/lights.jpg' %}" alt="Nature" class="img-responsive img-thumbnail">
        <div class="text-block">
            <h2>Lights</h2>
        </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <a href="{% url 'data' %}">
        <img src="{% static 'images/data.jpg' %}" alt="Nature" class="img-responsive img-thumbnail">
        <div class="text-block">
            <h2>Data</h2>
        </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <a href="{% url 'data' %}">
        <img src="{% static 'images/nature.jpg' %}" alt="Nature" class="img-responsive img-thumbnail">
        <div class="text-block">
            <h2>Chat</h2>
        </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">
        <img src="{% static 'images/nature.jpg' %}" alt="Nature" class="img-responsive img-thumbnail">
        <div class="text-block">
            <h2>Log Out</h2>
        </div>
        </a>
        {% else %}
        <a href="{% url 'login' %}">
        <img src="{% static 'images/nature.jpg' %}" alt="Nature" class="img-responsive img-thumbnail">
        <div class="text-block">
            <h2>Log In</h2>
        </div>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}
